<h2 mat-dialog-title>
  Pick a Date
  <button mat-button color="warn" class="clear-btn" (click)="clearDateFilter()">
    <mat-icon>clear</mat-icon> Clear
  </button>
</h2>

<mat-dialog-content>
  <mat-form-field appearance="outline">
    <mat-label>Pick a Date</mat-label>
    <input matInput [matDatepicker]="picker" [(ngModel)]="selectedDate" />
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker
      #picker
      (dateChange)="onDateChange($event)"
    ></mat-datepicker>
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="closeDialog()">Cancel</button>
  <button mat-button color="primary" (click)="applyFilter()">Apply</button>
</mat-dialog-actions>
