.full-width {
  width: 100%;
  display: block;
  margin-bottom: 15px;
}

.event-form-card {
  max-width: 500px;
  margin: auto;
}

.event-form {
  display: flex;
  flex-direction: column;
}

mat-card-title {
  padding-top: 0.5rem;
  text-align: center;
  padding-bottom: 1rem;
  font-size: medium;
}
