<mat-card class="event-form-card">
  <mat-card-title>{{
    eventId ? "Edit Event ✏️" : "Create Event ✏️"
  }}</mat-card-title>
  <mat-card-content>
    <form [formGroup]="eventForm" (ngSubmit)="onSubmit()" class="event-form">
      <!-- Title -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Title</mat-label>
        <input matInput formControlName="title" />
      </mat-form-field>

      <!-- Date Picker -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Date</mat-label>
        <input
          matInput
          [matDatepicker]="picker"
          [min]="minDate"
          formControlName="date"
        />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <!-- Location -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Location</mat-label>
        <input matInput formControlName="location" />
      </mat-form-field>

      <!-- Description -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Description</mat-label>
        <textarea matInput formControlName="description"></textarea>
      </mat-form-field>

      <!-- Save Button -->
      <button
        mat-raised-button
        color="primary"
        type="submit"
        class="full-width"
      >
        Save
      </button>
      <!-- Save Button -->
      <button
        mat-raised-button
        color="accent"
        class="full-width"
        (click)="redirectToListPage()"
      >
        Back
      </button>
    </form>
  </mat-card-content>
</mat-card>
