.spacer {
  flex: 1;
}

body {
  transition: background-color 0.3s, color 0.3s;
}

.dark-mode {
  background-color: #121212;
  color: white;
}

.app-title {
  text-transform: capitalize;
  font-size: larger;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  cursor: pointer;
}

button {
  margin-right: 0.5rem;
  font-size: 12px; /* Smaller font */
}
