<mat-toolbar color="primary">
  <span class="app-title">Intelliveer Event Management 📅</span>

  <span class="spacer"></span>
  <!-- Back Button -->
  <button
    *ngIf="isListPageActive"
    mat-raised-button
    color="accent"
    (click)="redirectToListPage()"
    class="full-width"
  >
    Back
  </button>
  <span class="spacer"></span>

  <button mat-icon-button (click)="toggleDarkMode()">
    <mat-icon>{{ isDarkMode ? "light_mode" : "dark_mode" }}</mat-icon>
  </button>
</mat-toolbar>
<router-outlet></router-outlet>
