// Custom Theming for Angular Material
@use "@angular/material" as mat;
@import "./themes/custom-theme.scss";

// Include Material core styles
@include mat.core();

// Define the theme palettes
$intelliveer-event-management-primary: mat.define-palette(mat.$indigo-palette);
$intelliveer-event-management-accent: mat.define-palette(
  mat.$pink-palette,
  A200,
  A100,
  A400
);
$intelliveer-event-management-warn: mat.define-palette(mat.$red-palette);

// Define the theme
$intelliveer-event-management-theme: mat.define-light-theme(
  (
    color: (
      primary: $intelliveer-event-management-primary,
      accent: $intelliveer-event-management-accent,
      warn: $intelliveer-event-management-warn,
    ),
  )
);

// Import Material theming utilities
@include mat.all-component-themes($intelliveer-event-management-theme);
@include mat.all-component-themes($intelliveer-event-management-theme);

// Light and dark mode styles
body {
  &.light-mode {
    @include mat.all-component-themes($intelliveer-event-management-theme);
    background-color: #f8f9fa;
    color: #333;
  }

  &.dark-mode {
    background-color: #121212;
    color: #e0e0e0;
  }
}

// Snackbar styles
.success {
  background-color: #81c784 !important; // Pastel Green
  color: white !important;
}

.error {
  background-color: #e57373 !important; // Soft Red
  color: white !important;
}

.dark-mode .success {
  background-color: #388e3c !important; // Dark Green
}

.dark-mode .error {
  background-color: #d32f2f !important; // Dark Red
}

// Global styles
html,
body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Scrollbar Track */
::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 10px;
}

/* Scrollbar Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Scrollbar Handle on Hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Optional: Make scrolling smooth */
html {
  scroll-behavior: smooth;
}
